<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
    <header >
        
           
        <div class="header-container">
            <a class="logo" href="#home">Cailey & Justin</a>
            <label for="toggle" class="hamburger"><i  class="fas fa-bars fa-2x"></i></label>
            <div class="navigation-container">
                
                <nav>
                    <ul class="navbar">
                        <li><a href="#nav-our-story" for="toggle">Our Story</a></li>
                        <li><a href="#nav-dl" for="toggle">When & Where</a></li>
                        <li><a href="#nav-rsvp" for="toggle">RSVP/Email</a></li>
                        <li><a href="#nav-reg" for="toggle">Registry</a></li>
                        <li><a href="#nav-cont" for="toggle">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <input type="checkbox" id="toggle"></input>
        <div class="nav-mobile">
            <nav>
                <ul>
                    <li><a href="#nav-our-story">Our Story</a></li>
                    <li><a href="#nav-dl">When & Where</a></li>
                    <li><a href="#nav-rsvp">RSVP/Email</a></li>
                    <li><a href="#nav-reg">Registry</a></li>
                    <li><a href="#nav-cont">Contact</a></li>
                </ul>
            </nav>
        </div>
        
    </header>
    
    <main>
        <section class="landing-page" id="home">
            <div class="landing-page-wrapper">
                <h1 class="hero-title">Cailey & Justin</h1>
                <img class="banner-image" src="images/wedding_pix_0.jpg"></img>
                <h2>Please Join Us!</h2>
            </div>
        </section><!-- Pretty Landing Page -->

        <div class="target-container">
            <div class="nav-target" id="nav-our-story">
            </div><!-- Navbar Target - Registry -->
        </div>
        
        <section class="our-story-section" id="our-story">
            

            <div class="info-wrapper">
                <div>
                    <h2>Our Story</h2>
                
                    <i class="fas fa-book-open fa-2x"></i>
                  
                    <p class="our-story-text">Justin and I first met each other through Eharmony and wrote long letters to each other daily. After a month and a half, 
                        Justin drove from Corvallis, Montana to Bonners Ferry, Idaho to meet me at a Mexican restaurant for a dinner date. 
                        Our communication had been entirely through letters until this very moment. 
                        <br><br>
                        That date sparked our relationship as we spoke daily with each other and spent hours learning about one another. 
                        By November Justin proposed to me under the Georgia Mae Gazebo which was a blessing in itself as I had prayed at 8 years old that I would be proposed to under a gazebo. 
                        A prayer I had never shared with Justin or anyone else for that matter. 
                        <br><br>
                        We eloped in a conference room at the Hampton Inn on January 19th as COVID restrictions, a long-distance relationship, and a car accident continually prevented us from being able to make solid wedding plans. 
                        This was the happiest day of our lives as the long-distance relationship finally came to a close, and a new chapter began where we get to spend the rest of our lives with each other. 
                        <br><br>
                        We're beyond honored and excited to bring family and friends together to celebrate Justin and I's love for one another.
                        We truly value each and every one of you and look forward spending a lovely evening with you all. 
                        <br><br>
                        Thank you all and God bless! </p>
                </div>
            </div>
        </section><!-- Registry -->

        <div class="target-container">
            <div class="nav-target" id="nav-dl">
            </div><!-- Navbar Target - Date & Location -->
        </div>

        <section class="date-and-location-section" id="date-and-loc">
      
        
            <div class="info-wrapper">
                <div>
                    <h2>When & Where</h2>
                    <i class="fas fa-compass fa-2x"></i>
                    <p>September 18th, 2021</p>
                    <p>Saturday at 4:00 PM PDT</p>
                    <p>13345 E Perimeter Rd, Athol, ID, 83801</p>
                    
                    <form action="https://goo.gl/maps/rUn2LkE23HHzYspZ8" method="get" target="_blank" class="form-margin">
                        <button class="btn" type="submit"  href="">Google Maps</button>
                    </form>
                </div>
            </div>
        </section><!-- Date & Location -->

        <div class="target-container">
            <div class="nav-target" id="nav-rsvp">
            </div><!-- Navbar Target - RSVP -->
        </div>
        
        <section class="email-rsvp-section" id="rsvp">
          
            <div class="info-wrapper-green">
                <div>
                <h2>Email Subscription and RSVP</h2>
                <i class="fas fa-envelope fa-2x"></i>
                <p>We'll be so happy to see you!<br>
                    Let us know if you'll be coming!</p>
           
                    
                    <form action="https://us1.list-manage.com/survey?u=28d7ebe0dcf5bcfb681e688ee&id=68cbc14868&attribution=false" method="POST" target="_blank" class="form-margin">
                        <button class="btn" type="submit">RSVP</button>
                    </form>
                </div>
            </div>
        </section><!-- RSVP -->


        <div class="target-container">
            <div class="nav-target" id="nav-reg">
            </div><!-- Navbar Target - Registry -->
        </div>

        <section class="registry-section" id="registry">
            

            <div class="info-wrapper">
                <div>
                    <h2>Registry</h2>
                    <i class="fas fa-gifts fa-2x"></i>
                    <div class="flex-containers">
                        <div class="flex-item">
                            <h3>Amazon</h3>
                            <form action="https://www.amazon.com/wedding/registry/3ERW4QJR2P75G?ref=wr_search_page_result_&fbclid=IwAR06CFERQoa8Dshi3NLn0GFxrsd_Vxy6s3uGrETlKxo2r6x4HUxm-P5HmL4" method="get" target="_blank">
                                <button class="btn" type="submit"  href="">Buy!</button>
                            </form>
                        </div>
                        <div class="flex-item">
                            <h3>Wal-Mart</h3>
             
                            <a href="https://www.walmart.com/lists/view-wedding-registry-items?id=624c62b0-0093-4df3-bddd-7c120c50ad23&fbclid=IwAR0yrO4K_I4Vgr5kePcjTfpQhL7x570sTN0UvRvfN8I92XyjvZwtv89qCac" target="_blank"><button class="btn" type="submit">Buy!</button></a>
            
                        </div>

                    </div>
                </div>
            </div>
        </section><!-- Registry -->

        <div class="target-container">
            <div class="nav-target" id="nav-cont">
            </div><!-- Navbar Target - Contact -->
        </div>
        <section id="contact" class="date-and-location-section">
            
            <div class="info-wrapper">
                <div>
                    <h1>Contact Information</h1>
                    <br>
                    <i class="fas fa-comments fa-2x"></i>
                    <div class="flex-containers">
                        <div class="flex-item">
                            <h3>Cailey</h3>
                            <p>Phone: (555) 555-5555</p>
                            <p>Email: example@yahoo.com</p>
                        
                        </div>
                        <div class="flex-item">
                            <h3>Justin</h3>
                            <p>Phone: (555) 555-5555</p>
                            <p>Email: example@yahoo.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- Contact -->
    </main>
    <footer>
        <div>
            <h2>Thanks for coming!<br>Looking forward to see you!<br><i class="far fa-smile-beam"></i></h2>
            <a href="#home">Back to Top</a>
            <nav>
                <ul class="navbar">
                    <li></li>
                </ul>
            </nav>
        </div>
    </footer>
    
    
</body>
</html>

